langchain-core~=0.3.58
langchain-anthropic>=0.3.12
langchain-openai~=0.3.16
langchain-google-genai~=2.1.4
PyYAML~=6.0.2
python-dotenv~=1.0.1
pydantic~=2.9.2
dependency-injector~=4.43.0
black~=24.3.0
json-repair~=0.35.0
